.Generator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

@media (max-width: 767px) {
  .table-container {
    grid-template-columns: 1fr;
  }
}

.last-table-container {
  margin-bottom: 3rem;
}

.btn-export {
  background-color: #f06d22;
}

.btn-export:hover {
  background-color: #e05515;
}

@media print {
  .table-container {
    page-break-before: always; /* Ensure each table section starts on a new page */
    grid-template-columns: 1fr 1fr;
  }
}
